@layer base, header , link;

@layer base {
    body {
        color: black;
    }
}
@layer header {
    header {
        color: #333;
    }
}
@layer link {
    header ul li a {
        color: #d33;
    }
}

body {
    width: 1vw;

    header {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em .5em;
        background-color: #eee;

        h1 {
            flex-grow: 3;
            font-weight: bold;
            font-size: 2em;
        }

        nav {
            flex-grow: 2;

            ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
            }
        }
    }

    main {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 500px;
        }
    }

    section {
        width: 100vw;

        p {
            width: 90%;
            margin: 0 auto;
        }
    }

    footer {
        margin: 1em 0 0;
        padding: 0.5em;
        width: 100vw;
        text-align: center;
        background-color: #333;
        color: #fff;
    }
}
